* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #ff0000;
}

.beef,
.sushi,
.chicken {
    width: 100%;
    text-align: center;
    background-color: yellowgreen;
    color: white;
    float: right;
    padding: 5px;
}

.clearfix {
    clear: both;
}

.sushi {
    background-color: tomato;
    color: black;
}

section {
    background-color: #c0c0c0;
    overflow: hidden;
}

p {
    padding: 10px;
}

@media screen and (min-width:1200px) {
    .col-lg-12 {
        width: 100%;
        float: left;
        padding: 15px;
    }
    .nav-link {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .col-md-12 {
        width: 100%;
        float: left;
        padding: 15px;
    }
    .nav-link {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .col-sm-12 {
        width: 100%;
        float: left;
    }
    .active {
        color: white;
        text-decoration: underline;
    }
    .sushii,
    .chickenn {
        display: none;
    }
}